<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-toolbar>MinCloud</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>

      <a mat-list-item routerLink="/users" routerLinkActive="active-link">
        <mat-icon matListItemIcon>library_books</mat-icon>
        <span matListItemTitle>Library</span>
      </a>
      <a mat-list-item routerLink="/photos" routerLinkActive="active-link">
        <mat-icon matListItemIcon>photo_library</mat-icon>
        <span matListItemTitle>Photos</span>
      </a>
      <a mat-list-item routerLink="/collections" routerLinkActive="active-link">
        <mat-icon matListItemIcon>collections_bookmark</mat-icon>
        <span matListItemTitle>Collections</span>
      </a>

      <a mat-list-item routerLink="/vault" routerLinkActive="active-link">
        <mat-icon matListItemIcon>shield</mat-icon>
        <span matListItemTitle>Vault</span>
      </a>

      <a mat-list-item (click)="toggleSettings()" class="menu-item">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span matListItemTitle>Settings</span>
        <span matListItemMeta>
          @if (settingsExpanded()) {
          <mat-icon matListItemIcon>expand_less</mat-icon>
          } @else {
          <mat-icon matListItemIcon>expand_more</mat-icon>
          }
        </span>
      </a>

      @if (settingsExpanded()) {
      <a mat-list-item routerLink="/settings/users" routerLinkActive="active-link" class="nested-item">
        <span matListItemTitle>Users</span>
      </a>
      <a mat-list-item routerLink="/settings/storages" routerLinkActive="active-link" class="nested-item">
        <span matListItemTitle>Storages</span>
      </a>
      <a mat-list-item routerLink="/settings/space" routerLinkActive="active-link" class="nested-item">
        <span matListItemTitle>Spaces</span>
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Application Title</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>{{ layoutService.theme() === 'dark' ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>