.sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  border-left: 1px solid var(--mat-sys-outline-variant);
  box-sizing: border-box;
}

.sidenav {
  width: 256px;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 1rem;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.05);
}

.nested-item {
  padding-left: 32px !important;
}

.menu-item {
  cursor: pointer;
}